<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Assignment Suite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="RetryMechanism.AnnotationTransformer"/>
    </listeners>
    <test name="Assignment Test">
        <classes>
            <class name="automation.runners.AssignmentRunner"/>
        </classes>
    </test>
</suite>
